<div class="categories container col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <div class="categories items col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="block text-center col-xs-12 col-sm-12 col-md-12 col-lg-12"> На нашем сайте представлены предприятия следующих типов промышленности: </h2>
    <% @categories.each do |cat|%>
    <%= render partial: "category", locals: {cat: cat}%>
    <% end %>
    <div class="categories items pages text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= will_paginate @categories %>
    </div>
  </div>
  <div class="almost-footer container col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="almost-footer text-center left col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2> Здеcь могла бы быть ваша реклама :-) </h2>
    </div>
  </div>
</div>
<div class="advertisement container col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <div class="advert-header col-sm-12 col-md-12 col-lg-12">
    <h3> Реламный блок </h3>
  </div>
  <div class="adv1 col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= image_tag 'advert1.jpg'%>
  </div>
  <div class="adv2 col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= image_tag 'advert2.jpg'%>
  </div>
  <div class="adv3 col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
  </div>
  
</div>
