<div class="subcategory-item col-xs-12  col-sm-6 col-md-6 col-lg-6 no-padding">
	<div class="text text-left col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
		<a href="<%= subcategory_path(id: subcategory.id)%>" class="sublink">
		<table>
			<tr>
				<td class="subcategory-td-text"><span class="text-left-text"> <%= subcategory.name %> </span></td>
				<td class="td-glyph"><span class="glyphicon glyphicon-chevron-right"> </span></td>
			</tr>
		</table> </a>
	</div>
</div>
