<div class="container language col-xs-12 col-md-8 col-sm-8 col-lg-8">
  <div class="text col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3 id="language-text-title"> Find <i> Your </i> business contract </h3>
    <h4 id="language-text-desc"> Contact new partners, make deals, develop your business </h4>
  </div>
  <div class="langs container center col-xs-8 col-sm-8 col-md-6 col-lg-6">
    <ul class="list">
      <li class="item"> <%= link_to "Francais", category_index_path(locale: "fr") %> </li>
      <li class="item"> <%= link_to "English", category_index_path(locale: "en") %>  </li>
      <li class="item"> <%= link_to "Русский", category_index_path(locale: "ru") %>  </li>
      <li class="item"> <%= link_to "Украiнська", category_index_path(locale: "ua") %>  </li>
    </ul>
  </div>
</div>


