<div class="index container center col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="left">
    <span> Lorem Ipsum
  </div>
  <div class="right">
    <ul class="info list">
      <li class="item"> <a href="#"> <%= t('main.help')%> </a> </li>
      <li class="item"> <a href="#"> <%= t('main.rights')%> </a> </li>
      <li class="item"> <a href="#"> <%= t('main.tos')%> </a> </li>
      <li class="item"> <a href="#"> <%= t('main.blog')%> </a> </li>
    </ul>
  </div>
</div>