<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Приветствуем Вас на нашем сайте! Ваше предприятие было успешно создано и в ближайшее время будет проверено модератором. Хорошего дня :-)
    </p>
  </body>
</html>
