<div class="podlojka col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="company-item col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="company-item-image col-xs-3 col-sm-3 col-md-3 col-lg-2">
        <%= image_tag company.paper_image %>
        <p class="company-item-address"> <%= company.address%> , Харьков </p>
      </div>
      <div class="company-item-text col-xs-9 col-sm-9 col-md-9 col-lg-10">
      	<p class="company-item-title"> <%= link_to company.name, company_path(id: company.id) %> </p>
        <p class="company-item-description"> <%= company.description %> </p>
      </div>
</div>
</div>
