$general_green: #3CB371;
$secondary-green:  #2E8B57;




.advertisement.container{
  padding-left: 35px;
}

p.blog-text{
  padding-top: 0;
  text-align: justify;
}

.blog-container{
       & a{
         color: #808080;
         &:hover{
           color: black;
           transition: .5s ease;
         }
       }
      background: #FFF;
      position:relative;
      margin-bottom: 15px;
      border-bottom: 1px solid black;
      box-shadow: 0 0 10px;
      & .blog-header{
        font-family: Tahoma;
        font-size: 1.3vw;
        position: relative;
        font-weight: bold;
        padding: 6px 20px 6px 40px;
        margin: 30px 10px 10px -36px;
        color: #555;
        background-color: #98FB98;
        text-shadow: 0px 1px 2px #bbb;
        -webkit-box-shadow: 0px 2px 4px #888;
        -moz-box-shadow: 0px 2px 4px #888;
        box-shadow: 0px 2px 4px #888;
        &:before{
          content: ' ';
          position: absolute;
          width: 0;
          height: 0;
          left: 0px;
          top: 100%;
          border-width: 5px 10px;
          border-style: solid;
          border-color: #228B22 #228B22 transparent transparent;
        }

       }
      & .blog-theme{
         font-size: 0.8vw;
         opacity: .7;
         float: right;
         margin-top: 3px;
      }
      & .blog-image{
        width: 100%;
        max-width: 120px;
        float: left;
        margin: 0 10px 10px 0;
      }
      & .blog-text{
         font-size: .8vw;
      }
      & .blog-more{
        font-size:1.2vw;
        display:block;
        float: right;
        padding: 0 0 0 10px;
        background-color: #98FB98;
        color: white;
        line-height: 1.2vw;
        padding-top: 3px;
        padding-bottom:3px;
        &:hover{
          color: black;
          cursor: pointer;
          transition: .5s ease;
        }
      }
      & .blog-author{
         font-size: .8vw;
         font-style:italic;
         opacity: .7;
         
      }
      & .blog-time{
        position:absolute;
        bottom: 0;
        right: 5%;
        font-size: 0.8vw;
        opacity: .7;
      }
      & .blog-time-div{
        margin-top: 5px;
      }
      
    }


.news{
  display: none;
  width: 100%;
  height: 60px;
  background-color: $general_green;
  color: white;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}

.center-wrapper.container{
  min-height: 768px;
}

@media (max-width: 1280px) and (min-width: 768px){
  .blog-image{
    max-width: 80px!important;
  }
  
  .advertisement.container{
    padding: 0 20px 0 25px!important;
  }
  
  p.blog-text, p.blog-author, p.blog-time, p.blog-theme{
    font-size: 12px!important;
  }
  h3.blog-header{
    font-size: 14px!important;
  }
  
}

@media all and (max-width: 1000px){
  .blog-time{
    display: none;
  }
} 

@media all and (max-width: 768px){
  .advertisement.container{
    padding-right: 45px;
    padding-top: 35px;
  }
  span.news{
    display: block;
    }
  p.blog-text, p.blog-author, p.blog-time, p.blog-theme{
    font-size: 14px!important;
  }
  h3.blog-header{
    font-size: 18px!important;
  }
  
  .container.header{
    & .title{
      text-align: center!important;
    }
  }
}