$general_green: #3CB371;
$secondary-green:  #2E8B57;

.podlojka{
  background-color: white;
  padding: 18px;
    margin: 10px 0 10px 0;
}

.company-item{

  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px;
  & .company-item-image{
    padding: 0px;
    & p{
    position: absolute;
    width: 100%;
    max-width: 200px;
    bottom: 0px;
    display: block;
    background-color: $general_green;
    color: white;
    font-size: 16px;
    margin: 0;
    }
  }
  & img{
    width: 100%;
    max-width: 200px;
    height: auto;
    max-height: 200px;
    float: left;
  }
  & .description{
      text-align: left;
    }
  & .company-item-text{
    text-align: left;
  }
  & .company-item-title{
    & a{
      color: $general_green;
      font-size: 24px;
      &:hover{
        text-decoration: none;
      }
    }
  }
  & .company-item-description{
    color: #333;
    font-size: 14px;
  }
}


//---------------------------- COMPANY SHOW ------------------------//

.company-show-image{
  & img{
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 150px;
    float: left;
  }
}

.company-show-name{
  font-size: 36px;
  color: $general_green;
  font-weight: 600;
}

.company-show-header{
  margin-bottom: 15px;
}

.company-show-title, #about, #docs, #showmap{
  background-color: white;
}

.company-show-title{
  padding: 10px 0;
}

.docs{
  & span{
    font-size: 24px;
  }
}

.company-show-contacts{
  background-color: white;
  & i{
    font-size: 40px;
    color: #666;
    padding: 10px 0;
  }
  & table{
    margin-left: 15px;
    & tr{
      margin-bottom: 10px;
    }
  }
  & .contacts-header{
    background-color: $general_green;
    color: white;
    height: 50px;
    padding: 5px;
    font-size: 24px;
  }
  & span{
    display: block;
  }
}

.company-show-resizable{
    display: block;
    color: #333;
    margin: 5px 0;
    font-size: 18px;
    color: #666;
  }
.nav-tabs{
  & li{
    width: 33%;
    & a{
      font-size: 20px;
    color: $general_green;
    &:hover{
      text-decoration: none;
    }
    }
  }
}


#showmap{
  padding: 0;
  height: 400px;
  & #map{
    height: 400px;
  }
}

.about-creds{
  & span{
    display: block;
    font-size: 18px;
    color: #666;
    margin: 5px 0 5px 0;
  }
}

.catalog, .gallery{
  padding: 0px;
  & span{
    padding: 10px;
    display: block;
    background-color: $general_green;
    color: white;
    font-size: 24px;
    text-align: left;
    margin: 10px 0 10px 0;
  }
}

.transparent-image{
  margin: 5px 0 5px 0;
  & img{
    width: 100%;
    height: auto;
    max-width: 200px;
  }
}

div#about{
  padding: 0;
}

// --------------------------- MEDIA QUERIES ------------------------//
@media all and (min-width: 320px) and (max-width: 640px){
  .company-item-address{
      display: none!important;
  }
  .company-item-text{
    & .company-item-title{
      & a{
        font-size: 14px;
      }
    }
    & .company-item-description{
      font-size: 12px;
    }
  }
}


@media all and (min-width: 768px) and (max-width: 1280px){
  span.contacts-header{
    font-size: 18px!important;
  }
}
