
.search-form{
  float: left;
  margin: 10px 0 10px 0;
  float: left;
& input[type="search"] {
    border: none; 
    outline: none; 
    -webkit-appearance: none; 
    width: 200px; 
    padding-left: 20px;
    padding-right: 50px;
    vertical-align: middle; 
    height: 25px;
    font-size: 20px;
    border-radius: 20px;
    color: #333;
   }
& input[type="submit"] {
    width: 20px; 
    height: 20px; 
    border: none; 
    margin-left: -50px;
    background: image-url('icons/347.png') no-repeat center center; 
    background-size: cover;
 }
}