$general_green: #3CB371;
$secondary-green:  #2E8B57;

.no-padding{
  padding: 0;
}

.subcategories.container{
  margin-top: 15px;
}

.category.container{
    & .something{
      & img{
        width: 100%;
        height: auto;
        max-height: 350px;
      }
    }
    & .absolute-subcategory{
      position: absolute;
      top: 15%;
      left: 0;
      border:  1px solid #999;
      background-color: rgba( 60, 179, 113, .8);
      color: white;
      font-size: 36px;
      line-heigh: 35px;
      font-weight: 600;
    }
}

.subcategory-item{
  padding: 0 5px;
  margin-bottom: 10px;
  &:hover{
    background-color: $general_green;
    color: white;
  }
  &:hover .sublink{
    color: white;
  }
  &:hover .glyphicon{
    color: white;
  }
  & .text-left-text{
    display: block;
    width: 90%;
    float: left;
    padding-left: 20px;
  }
  & td{
    height: 100px;
    padding: 0 15px 0 15px;
  }
  & td.subcategory-td-text{
    width: 85%;
  }
  & td.td-glyph{
    position: absolute;
    top: 35%;
    right: -25px;
  }
   & a{
        color: #444;
        display: block;
        width: 100%;
      }
  & .text-left{
      height: 100px;
      font-size: 24px;
      display: block;
      width: 100%;
  }
  & .glyphicon{
    padding-right: 15px;
    font-size: 24px;
    color: $general_green;
  }
}

@media all and (min-width: 768px) and (max-width: 1280px){
  .text-left-text{
    font-size: 18px;
  }
}
