<div class="category-item col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <div class=" category-item-image col-xs-12 col-sm-12 col-md-12 col-lg-12">
  	
    <a href=<%= category_path(id: cat.id) %>>
    <%= image_tag cat.image_path, class: "category-image-small" %>
    </a>
    <span class="name block col-xs-12 col-sm-12 col-md-12 col-lg-12"> <%= cat.name %> </span>
  </div>
</div>
